<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= project.details %>
  </p>

  <p>
    <strong>Expected completion date:</strong>
    <%= project.expected_completion_date %>
  </p>

  <p>
    <strong>Tenant:</strong>
    <%= project.tenant_id %>
  </p>

</div>
